.header-parent {
  margin: 0;
  display: grid;
  grid-template-rows: 10% auto;
  background-image: url("../../media/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
