.parent-flex-container {
    display: flex;
    background-color: aqua;
}

.parent-grid-container {
    border: 1px solid black;
    display: grid;
    width: 100%;
    flex-shrink: 0;
    grid-template-rows: 4% auto 5%;
}