.backend-project-list {
  margin-top: 7%;
  display: grid;
  grid-template-rows: auto;
  grid-auto-flow: row;
  overflow-y: auto;
  height: 27em;
  position: relative;
  border-top: 2px solid #b2bbc3;
}
.one-project-item {
  width: 100%;
  height: 11em;
  display: flex;
  flex-direction: row;
}
.backend-project-header {
  width: 71.5vw;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 10;
  height: 10vh;
}
.project-name {
  width: 16.5vw;
  font-size: 1.3em;
  display: flex;
  font-weight: bold;
  color: white;
  justify-content: flex-start;
  padding-left: 2%;
  align-items: center;
  border-right: 2px solid #b2bbc3;
  background-color: #5b7b9c;
}
.stack {
  width: 16.6vw;
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding-left: 2%;
  align-items: center;
  border-right: 2px solid #b2bbc3;
  background-color: #5b7b9c;
}
.description {
  width: 34vw;
  font-size: 1.3em;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding-left: 1.7%;
  align-items: center;
  background-color: #5b7b9c;
}
.one-project-item:nth-child(2n) {
  background-color: #dee6ee;
}

.parent-backend-content {
  border: 2px solid #b2bbc3;
  margin-top: 3%;
  width: 100%;
  height: 31.6em;
}
.project-name-row-item {
  width: 23.9%;
  padding: 1em;
  border-right: 2px solid #b2bbc3;
  font-size: 1.2em;
}
.heading-backend-project-name:hover {
  border-bottom: 2px solid grey;
  cursor: pointer;
}
.project-stack-row-item {
  width: 23.5%;
  padding: 1em;
  border-right: 2px solid #b2bbc3;
  font-size: 1.2em;
}
.project-description-item {
  width: 50.8%;
  padding: 1em;
  font-size: 1.2em;
}
